<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <div>
            <img class="portrait" src="/images/shubham.jpg">
        <p>A self-motivated and enthusiastic student seeking an opportunity to work 
        in a challenging environment and utilize my knowledge in the growth of 
        the organization.</p>
        </div>
    </div>
    {{>footer}}
</body>
</html>