<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <div>
            <img class="portrait" src="/images/shubham.jpg"/>
        <p>Hi , I am Shubham Kumar currently working in Rario as a SDE-Backend Intern. My core skills include Node.js, Express.js Serverless and DB's.</p>
        </div>
        <hr/>
        <div>
        <p>Hi , I am Hemang Mehta currently working in Calsoft as a Development Intern. My core skills include Java.</p>
        <img class="portrait" src="/images/HEMANG.jpeg"/>
        </div>
    </div>
    {{>footer}}
</body>
</html>